<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.midterm.foodSNS.mypage.mapper.IMyPageMapper">


	<select id="getArticleList" resultType="article">
		SELECT * FROM FreeboardArticle
		WHERE user_id = #{userId}
	</select>	
	
	
</mapper>
		
		
