body {
    width: 100%;  
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center; 
    /* position: relative; */
}
body::after {
    width: 100%;
    height: 100%;
    content: '';
    background: url(./images/background.png) no-repeat center mintcream;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.wrapper {  
    width: 100%;
    position: absolute;
    justify-content: center;    
    align-items: center;
    margin-top: 10%;    
}

.intro h1 {
    font-size: 60px;
    min-height: 240px;
}

section h1 {
    /* margin-top: 30px; */
    font-size: 60px;
    display: none;
}
#progress-box {
    text-shadow: 3px 3px 0px rgb(168, 166, 166);
}

#progress-box .progress {
    opacity: 0;
}

#result {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: none;
}

#buttons {
    margin-top: 50px;
}

button {
    font-size: 18px;
    font-weight: 900;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



#computer-choice,
#user-choice {
    margin-top: 30px;
    display: inline-block;
}
#end {
    background: #ffffffea;
}
#end .end-text {
    text-shadow: 1px 1px 2px rgb(255, 242, 0), 0 0 1em rgb(0, 225, 255), 0 0 0.2em rgb(13, 255, 0);
    box-shadow: 3px 3px rgba(202, 202, 202, 0.694), .5em .5em .4em rgba(190, 190, 190, 0.865);
}

.choice-img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 5px solid #ddd;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: none;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 550;
}

#computer-choice.choice-img {
    width: 150px;
    height: 150px;
    animation: rainbow 0.3s infinite;
}

#user-choice.choice-img {
    width: 150px;
    height: 150px;
    animation: rainbow 0.3s infinite;
    animation-delay: 0.1s;
}

#computer-choice.choice-img.selected {
    animation: none;
}

#user-choice.choice-img.selected {
    animation: none;
}

@keyframes rainbow {
    33% {
        background: url(./images/가위.png) no-repeat 0 0 / auto 150px;
    }
    66%{
        background: url(./images/바위.png) no-repeat 0 0 / auto 150px;
    }
    99%{
        background: url(./images/보.png) no-repeat 0 0 / auto 150px;
    }
}

.result-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    padding: 0 30px 30px 30px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #ffffffd3;
    box-shadow: rgba(0, 0, 0, 0.85) 0px 3px 12px;
    line-height: 1.8;
}
.result-box .count-box {
    margin-bottom: 20px;
}
.result-box #resultBtns {
    display: flex;
}

.quitResult {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
    padding: 30px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    line-height: 1.8;
    font-size:25px;
}
em {
    color: red;
    font-size: 30px;
}

.hide {
    display: none;
}