<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.myweb.snsboard.mapper.ISnsBoardMapper">

	<!-- 등록하기 -->
	<insert id="insert">
		INSERT INTO snsboard
		(writer, upload_path, file_loca, file_name, file_real_name, content)
		VALUES
		(#{writer}, #{uploadPath}, #{fileLoca}, #{fileName}, #{fileRealName}, #{content})
	</insert>
	
	<select id="getList" resultType="sns">
		SELECT * FROM snsboard
		ORDER BY bno DESC
		LIMIT ${pageStart}, ${cpp}
	</select>

</mapper>
    
