<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myweb.user.mapper.IUserMapper">

	<!-- collection 타입의 변수에 값을 매길 때에는 어떤 객체로 포장해서 넣을지를
		새로운 resultMap으로 선언해 주셔야 합니다. -->
	<resultMap type="user" id="userMap">
		<collection property="userBoardList" resultMap="list" />
	</resultMap>

	<!-- collection에 들어갈 객체가 어떤 식으로 포장 될 지를 명시해 주는 resultMap -->
	<resultMap type="board" id="list">
		<id property="bno" column="bno" />
		<result property="title" column="title" />
		<result property="regDate" column="reg_date" />
	</resultMap>


	<insert id="join">
		INSERT INTO users
		(user_id, user_pw, user_name, user_phone1, user_phone2, user_email1, 
		 user_email2, addr_basic, addr_detail, addr_zip_num)
		VALUES(#{userId}, #{userPw}, #{userName}, #{userPhone1}, #{userPhone2},
		 #{userEmail1}, #{userEmail2}, #{addrBasic}, #{addrDetail}, #{addrZipNum})
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) 
		FROM users
		WHERE user_id = #{id}
	</select>
	
	<select id="login" resultType="user">
		SELECT user_pw FROM users
		WHERE user_id=#{id}
	</select>
	
	<select id="getInfo" resultType="user">
		SELECT * FROM users
		WHERE user_id=#{id}
	</select>
	
	<select id="getInfo" resultType="user">
	SELECT 
		user_name, user_phone1, user_phone2,
	    user_email1, user_email1, addr_basic,
	    addr_detail, addr_zip_num,
	    f.bno,
	    f.title,
	    f.reg_date
	FROM users u 
	LEFT JOIN freeboard f
	ON u.user_id = f.writer
	WHERE u.user_id = #{id}
	ORDER BY f.bno DESC
	LIMIT #{paging.pageStart}, #{paging.cpp};
	</select>
	
	<update id="updateUser">
		UPDATE users
		SET user_pw = #{userPw}, user_name = #{userName},
		user_email1 = #{userEmail1}, user_email2 = #{userEmail2},
		user_phone1 = #{userPhone1}, user_phone2 = #{userPhone2},
		addr_basic = #{addrBasic}, addr_detail = #{addrDetail},
		addr_zip_num = #{addrZipNum}
		WHERE user_id = #{userId}
	</update>


</mapper>


















